APP_HOST=0.0.0.0
APP_PORT=8000

# KAGGLE
KAGGLE_USERNAME=логин_на_kaggle
KAGGLE_KEY=ключ_из_kaggle.json

# !!! Оставьте нужную строку !!!
# COMPOSE_PROFILES=gpu # Если у вас GPU
# COMPOSE_PROFILES=cpu # Если у вас CPU
